*{
	margin: 0；
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#wrapper{
	overflow: hidden;
}

.x-line{
	width: 20px;
	height: 20px;
	float: left;
	background: #16af3a;
	border: 1px solid #fff;
	text-align: center;
}
.change{
	background: red;
}
.x-line:hover{
	opacity: 0.5;
}
.y-line{
	overflow: hidden;
}

